@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.topnav div{
  background-color: #FFFFFF;
  overflow: hidden;
  height:49px;
}

.topnav ul{
    position:absolute;
    margin:0px;
    padding:0px;
    height:100%;
}

.topnav div > ul > li {
  list-style:none;
  float: left;
  display: block;
  height:100%;
  margin:0px;
  text-align: center;
  padding: 14px 16px;
}

.topnav ul li a{
  font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:  #000000;
    text-decoration: none;
  user-select:none;

}

.logo {
    cursor: pointer;
    width:90px;
    height:80px;
}

.topnav ul li ul {
  display: none;
  margin-top:14px;
 
  min-width:100px;
  background-color:#FFFFFF;
  height:100%;
}

.topnav ul li:hover  ul {
  display: block;
}

.topnav ul li ul li{
  display: block;
  text-align: left;
  float:none;
  color:brown;
}

.topnav div > ul > li:hover {
   color: #0088a9;
}

.topnav ul li ul li:hover {
   color: #0088a9;
}

.topnav .active {
   color: #0088a9;
}

.topnav .icon {
  display: none;

}

@media screen and (max-width: 640px) {
    .topnav div > ul{
        position : absolute;
        top:58px;
        background-color: #FFFFFF;
        display:none;
        top:50px;
        width:100%;
        height:auto;
        float: none;
    }
    
    .topnav div > ul li{
        position : relative;
        float:none;
        text-align:left;
    }
    
    .topnav div > ul > li{
        background-color:transparent;
    }
    
    .topnav.responsive {
      position: relative;
    }
    
    .topnav.responsive div > ul{
        display: block;
    }

    .topnav a.icon {
        float: right;
        display: block;
        text-align: center;
        padding: 14px 16px;
    }
    
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .topnav ul li ul {
        position:relative;
        display: block;
        margin:0px;
        background-color:#FFFFFF;
        width:100%;
    }
    
    .topnav ul li ul li{
        padding-left:40px;
    }
  }
