* {
	box-sizing: border-box;
}

#main {
	width: 1349px;
}

#awal {
	width: 1269px;
}

#shoes1{
	cursor: pointer;
	width: 983.75px;
	height: 410px;
	left: 0px;
	float: left;
}

#right_shoes1{
	display: block;
	cursor: pointer;
	width: 293.25px;
	float: right;
}

footer {
	font: 16px sans-serif;
	margin: 180px 40px 0px; 
	padding: 0px 0px 24px;
}

#about {
	width: 400px;
	height: 165px;
	float: left;
}

#address {
	width: 183px;
	height: 185px;
	float: left;
	margin-left: 50px;
}

#contact {
	width: 183px;
	height: 165px;
	float: left;
	margin-left: 50px;
}

#info {
	width: 184px;
	height: 165px;
	float: left;
	margin-left: 50px;
}

#follow_us {
	width: 184px;
	height: 165px;
	float: left;
	margin-left: 50px;
}
